Package: mqtt433mhz
Version: 0.81
Architecture: all
Maintainer: Helly1206
Installed-Size: 81
Depends: python3, python3-pip
Section: net
Priority: optional
Description: mqtt433MHz (433 MHz to MQTT translator)
Plugin-Section: sharing
